.card-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 20px;
}

.card {
    background: linear-gradient(145deg, #1a1a1a, #292929);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
    box-shadow: 0 0 8px rgba(0, 240, 255, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    max-width: 320px;
    min-width: 300px;
    margin: 10px;
    display: inline-block;
}

.card:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 0 15px #00f0ff;
}